@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Light.eot');
    src: url('eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('woff2/FiraSans-Light.woff2') format('woff2'),
         url('woff/FiraSans-Light.woff') format('woff'),
         url('ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: url('eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('woff2/FiraSans-Regular.woff2') format('woff2'),
         url('woff/FiraSans-Regular.woff') format('woff'),
         url('ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Italic.eot');
    src: url('eot/FiraSans-Italic.eot') format('embedded-opentype'),
         url('woff2/FiraSans-Italic.woff2') format('woff2'),
         url('woff/FiraSans-Italic.woff') format('woff'),
         url('ttf/FiraSans-Italic.ttf') format('truetype');
    font-weight: 450;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Medium.eot');
    src: url('eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('woff2/FiraSans-Medium.woff2') format('woff2'),
         url('woff/FiraSans-Medium.woff') format('woff'),
         url('ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Bold.eot');
    src: url('eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('woff2/FiraSans-Bold.woff2') format('woff2'),
         url('woff/FiraSans-Bold.woff') format('woff'),
         url('ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}